@mixin margin-top($number) {
  @each $breakpoint, $map in $type-settings {
    @include media-breakpoint-up($breakpoint) {
      margin-top: leading-calc($number, $map, $breakpoint);
    }
  }
}

@mixin margin-right($number) {
  @each $breakpoint, $map in $type-settings {
    @include media-breakpoint-up($breakpoint) {
      margin-right: leading-calc($number, $map, $breakpoint);
    }
  }
}

@mixin margin-bottom($number) {
  @each $breakpoint, $map in $type-settings {
    @include media-breakpoint-up($breakpoint) {
      margin-bottom: leading-calc($number, $map, $breakpoint);
    }
  }
}

@mixin margin-left($number) {
  @each $breakpoint, $map in $type-settings {
    @include media-breakpoint-up($breakpoint) {
      margin-left: leading-calc($number, $map, $breakpoint);
    }
  }
}

// Margin
@mixin margin($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    @each $breakpoint, $map in $type-settings {
      @include media-breakpoint-up($breakpoint) {
        margin: leading-calc($top, $map, $breakpoint) leading-calc($right, $map, $breakpoint);
      }
    }
  } @else if $left == null or $left == $right {
    @each $breakpoint, $map in $type-settings {
      @include media-breakpoint-up($breakpoint) {
        margin: leading-calc($top, $map, $breakpoint) leading-calc($right, $map, $breakpoint) leading-calc($bottom, $map, $breakpoint);
      }
    }
  } @else {
    @each $breakpoint, $map in $type-settings {
      @include media-breakpoint-up($breakpoint) {
        margin: leading-calc($top, $map, $breakpoint) leading-calc($right, $map, $breakpoint) leading-calc($bottom, $map, $breakpoint) leading-calc($left, $map, $breakpoint);
      }
    }
  }
}

@mixin padding-equal($number) {
  @each $breakpoint, $map in $type-settings {
    @include media-breakpoint-up($breakpoint) {
      margin: leading-calc($number, $map, $breakpoint);
    }
  }
}
