// Margin-top
@mixin margin-top($number) {
  @each $breakpoint, $value in $type-settings {
    @include media-breakpoint-up($breakpoint) {
      margin-top: rem-calc($number * map-get($value, leading));
    }
  }
}

// Margin-bottom
@mixin margin-bottom($number) {
  @each $breakpoint, $value in $type-settings {
    @include media-breakpoint-up($breakpoint) {
      margin-bottom: rem-calc($number * map-get($value, leading));
    }
  }
}

// Margin
@mixin margin($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    @each $breakpoint, $value in $type-settings {
      @include media-breakpoint-up($breakpoint) {
        margin: rem-calc($top * map-get($value, leading)) rem-calc($right * map-get($value, leading));
      }
    }
  } @else if $left == null or $left == $right {
    @each $breakpoint, $value in $type-settings {
      @include media-breakpoint-up($breakpoint) {
        margin: rem-calc($top * map-get($value, leading)) rem-calc($right * map-get($value, leading)) rem-calc($bottom * map-get($value, leading));
      }
    }
  } @else {
    @each $breakpoint, $value in $type-settings {
      @include media-breakpoint-up($breakpoint) {
        margin: rem-calc($top * map-get($value, leading)) rem-calc($right * map-get($value, leading)) rem-calc($bottom * map-get($value, leading)) rem-calc($left * map-get($value, leading));
      }
    }
  }
}
