@function type-settings($map) {

  $settings: ();
  
  @each $breakpoint, $config in $map {
    $map: ();
    
    $map: map-merge($map, ($breakpoint: (
      base: map-get($config, base-size)/16 * 100,
      line-height: map-get($config, line-height),
      leading: round(map-get($config, base-size)) * map-get($config, line-height)
    )));
  
    $settings: map-merge($settings, $map);
  }

  @return $settings;
}
