@each $tag, $heading in $headings {
  h#{$tag} {
    @include font-size(map-get($heading, font-size));
    @include line-height(map-get($heading, line-height));
  }
  .f#{$tag} {
      @include font-size(map-get($heading, font-size));
      @include line-height(map-get($heading, line-height));
  }
}

@each $name, $breakpoint in $global-breakpoints {
  @each $tag, $heading in $headings {
    @include media-breakpoint-up($name) {
      .f#{$tag}-#{$name} {
          @include font-size(map-get($heading, font-size));
          @include line-height(map-get($heading, line-height));
      }
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-headings;
  // font-weight: 900;
  text-transform: uppercase;
  @include margin-top(2);
  @include margin-bottom(1);
}

.test {
  background:blue;
  @include padding(3,3);
  @include font-size(4);
  @include line-height(2);
}