html {
  
}

body {
  @include font-size(1);
  @include line-height(1);
  font-family: $font-body;
  font-weight: 500;
  background:#db2f27;
  color:#e6c700;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
p {
    @include margin-bottom(1);
}
