html {
  @include base-size;
}

body {
  @include line-height(1);
  font-family:$font-body;
  font-weight:$font-body-weight;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
p, h1,h2,h3,h4,h5,h6, ul, ol, blockquote {
  @include line-height(1);
  @include margin-bottom(1);
}