/* Configuration
   ========================================================================== */
$base: (
  0: (
    base-size: 100,
    line-height: 2,
    scale: (

    )
  ),
  600: (
    base-size: 150,
    line-height: 2
  ),
  1000: (
    base-size: 200,
    line-height: 2
  )
);

$headings: (
  0: (
    h1: (
      font-size:3.998,
      line-height:2
    ),
    h2: (
      font-size:2.827,
      line-height:2
    ),
    h3: (
      font-size:1.999,
      line-height:1.5
    ),
    h4: (
      font-size:1.414,
      line-height:1
    )
  )
);

$type-settings: ();

@each $breakpoint, $config in $base {
  $map: ();
  
  $map: map-merge($map, ($breakpoint: (
    base-size: map-get($config, base-size),
    line-height: map-get($config, line-height),
    base: 16 * (map-get($config, base-size) / 100),
    leading: round((16 * (map-get($config, base-size)) / 100) * map-get($config, line-height))
  )));

  $type-settings: map-merge($type-settings, $map);
}

$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-headings: null;
   