/* Configuration
   ========================================================================== */
$base: (
  0: (
    base-size: 100,
    line-height: 1.6, 
  )
  // 600: (
  //   base-size: 150,
  //   line-height: 2
  // ),
  // 1000: (
  //   base-size: 200,
  //   line-height: 2
  // )
);
  
$headings: (
    h1: (
      xs: (
        font-size:3.998,
        line-height:2.5
      ),
      lg: (
        font-size:10.998,
        line-height:2.5
      )
    ),
    h2: (
      xs: (
        font-size:2.827,
        line-height:2
      ),
      lg: (
        font-size:10.998,
        line-height:2.5
      )
    ),
    h3: (
      xs: (
        font-size:1.999,
        line-height:1.5
      )
    ),
    h4: (
      xs: (
        font-size:1.414,
        line-height:1
      )
    )
  );
  
  $type-settings: type-settings($base);
  
  $font-body: ff-meta-web-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  $font-headings:ff-meta-web-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";