@import 'styles/settings';
@import "styles/typography/all";
@import 'styles/grid/grid';
@import "styles/animation/reveal";

@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";


.pageMargins {
    @include padding(1.5,5.5,0,2.5 );
}

header {
    @include padding(0,0,6);
}

.image {
    width:100%;
    overflow: hidden;
    @include margin(1,0 ,1);
    @include height(40);

    img {
        width:100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}